div.navbar {
  display: flex;
  background-color: aqua;
}

div.container-fluid {
  align-self: flex-end;
}

@media screen and (max-width: 480px) {
  a.btn {
    font-size: 10px !important;
  }
  a.navbar-brand {
    font-size: 14px;
  }
}
