<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6 shadow p-3 rounded">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3 d-flex flex-column">
          <label
            class="form-label"
            for="email"
            [ngClass]="{ 'align-self-end': curLanguage === 'ar' }"
            >{{ "EMAIL" | translate }}</label
          >
          <input
            name="email"
            type="email"
            id="email"
            class="form-control"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{
              'is-valid': email.valid,
              'is-invalid': !email.valid && email.touched
            }"
          />
          <label
            *ngIf="email.invalid && email.touched"
            class="invalid-creds mt-1"
            [ngClass]="{ 'align-self-end': curLanguage === 'ar' }"
          >
            {{ "ERORR1" | translate }}
          </label>
        </div>
        <div class="for-group mb-4 d-flex flex-column">
          <label
            class="form-label"
            for="password"
            [ngClass]="{ 'align-self-end': curLanguage === 'ar' }"
            >{{ "PASSWORD" | translate }}</label
          >
          <input
            name="password"
            type="password"
            id="password"
            class="form-control"
            #password="ngModel"
            ngModel
            required
            minlength="6"
            [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
          />
          <label
            *ngIf="password.invalid && password.touched"
            [ngClass]="{ 'align-self-end': curLanguage === 'ar' }"
            class="invalid-creds mt-2"
          >
            {{ "ERORR2" | translate }}
          </label>
          <div
            *ngIf="loginError"
            class="invalid-creds mt-2"
            [ngClass]="{ 'align-self-end': curLanguage === 'ar' }"
          >
            {{ "INVALID" | translate }}
          </div>
        </div>
        <div
          class="d-flex flex-wrap justify-content-between"
          [ngClass]="{ 'flex-row-reverse': curLanguage === 'ar' }"
        >
          <button
            type="button"
            class="btn btn-outline-dark col-md-3 col-12 my-2"
            (click)="onSignUp()"
          >
            {{ "SIGNUP" | translate }}
          </button>
          <button
            class="btn btn-dark col-md-5 col-12 my-2"
            type="submit"
            [disabled]="f.invalid"
          >
            {{ "LOGIN" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
