<nav class="navbar navbar-expand navbar-light bg-dark">
  <div class="container">
    <a [routerLink]="['/movies']" class="navbar-brand text-light ms-1">
      🎞 Movie Land
    </a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-1">
      <li class="nav-item">
        <a
          class="nav-link active text-light me-3"
          aria-current="page"
          [routerLink]="['/movies']"
          >{{ loggedIn ? "Movies" : "Log In" }}</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="text-light btn btn-secondary" (click)="onLogOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
