<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6 shadow p-3 rounded">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="for-group mb-3">
          <label class="form-label" for="email">{{
            "EMAIL" | translate
          }}</label>
          <input
            name="email"
            type="email"
            id="email"
            class="form-control"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{
              'is-valid': email.valid,
              'is-invalid': !email.valid && email.touched
            }"
          />
          <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
            {{ "ERORR1" | translate }}
          </div>
        </div>
        <div class="for-group mb-4">
          <label class="form-label" for="password">{{
            "PASSWORD" | translate
          }}</label>
          <input
            name="password"
            type="password"
            id="password"
            class="form-control"
            #password="ngModel"
            ngModel
            required
            minlength="6"
            [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
          />
          <div
            *ngIf="password.invalid && password.touched"
            class="invalid-feedback"
          >
            {{ "ERORR2" | translate }}
          </div>
          <div *ngIf="loginError" class="invalid-creds mt-2">
            {{ "INVALID" | translate }}
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between">
          <button
            type="button"
            class="btn btn-outline-dark col-md-3 col-12 my-2"
            (click)="onTranslate('ar')"
          >
            العربية
          </button>
          <button
            type="button"
            class="btn btn-outline-dark col-md-3 col-12 my-2"
            (click)="onTranslate('en')"
          >
            English
          </button>
          <button
            class="btn btn-dark col-md-5 col-12 my-2"
            type="submit"
            [disabled]="f.invalid"
          >
            {{ "LOGIN" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
